@model Talents.Models.People

<div style="width:100%;" class="container-fluid" align="center">
    <br />

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#CountryID').change(function () {
                var url = '@Url.Content("~/")' + "Home/GetProvinces";
                var ddlsource = "#CountryID";
                $.getJSON(url, { CountryID: $(ddlsource).val() }, function (data) {
                    var items = '';
                    $("#ProvinceID").empty();
                    $.each(data, function (i, province) {
                        items += "<option value='" + province.value + "'>" + province.text + "</option>";
                    });
                    $('#ProvinceID').html(items);
                    var element = document.getElementById('ProvinceID');
                    element.value = 0;
                    var items = "<option value='0'>Select</option>";
                    $('#CityID').html(items);
                });
            });

            $('#ProvinceID').change(function () {
                var url = '@Url.Content("~/")' + "Home/GetCitys";
                var ddlsource = "#ProvinceID";
                $.getJSON(url, { ProvinceID: $(ddlsource).val() }, function (data) {
                    var items = '';
                    $('#CityID').empty();
                    $.each(data, function (i, city) {
                        items += "<option value='" + city.value + "'>" + city.text + "</option>";
                    });
                    $('#CityID').html(items);
                });
            });
        });
    </script>
    <style type="text/css" >
        .required:before {
            content: '*';
            margin-right: 4px;
            color: red;
        }
    </style>
    <div class="row" style="border:groove; border-bottom-width:3px; width:60%;" align="left">
        <h1 style="margin:20px">Banco de Talentos - Easy Communication & Technology</h1><br />
        <div class="col-lg-11" align="justify">
            <a>https://www.youtube.com/watch?v=teXgoCzunVE</a>
            <p>We appreciate your contact, check that you do not need to fill out the full form if already has this information on its linkedin, and check out the links at the end of the tutorials (developers).</p>
            <p>Já agradecemos o seu contato, confira que você não precisa preencher o formulario completo caso ja tenha essas informações no seu linkedin, e no final confira os links dos tutoriais (developers).</p>
            <p>How we work / Como trabalhamos: <a>https://docs.google.com/document/d/145QuJ8-efr-pmNGV-2DOOGHD-1dc3MERSeL5g0XoqmM</a></p>

            <label style="color:darkred" class="warning">* Required</label><br /><br />           
            <form asp-action="Insert">
                <div class="form-group">
                    <label asp-for="Email" class="required"></label>
                    <br />
                    <div>
                        <input asp-for="Email" class="form-control" required="required" />
                        <span asp-validation-for="Email" class="text-danger" />
                    </div>
                </div>
                <div class="form-group" hidden="hidden">
                    <label asp-for="PeopleId" class="control-label"></label>
                    <br />
                    <div>
                        <input asp-for="PeopleId" class="form-control" required="required" />
                        <span asp-validation-for="PeopleId" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Name" class="required"></label>
                    <br />
                    <div>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Skype" class="required"></label>
                    <br />
                    <div>
                        <input asp-for="Skype" class="form-control" />
                        <span asp-validation-for="Skype" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Phone" class="required"></label>
                    <br />
                    <div>
                        <input asp-for="Phone" class="form-control" />
                        <span asp-validation-for="Phone" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Linkedin" class="control-label"></label>
                    <br />
                    <div>
                        <input asp-for="Linkedin" class="form-control" />
                        <span asp-validation-for="Linkedin" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="alert-danger" asp-validation-summary="ModelOnly"></div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                            <label asp-for="CountryId" class="required"></label>
                            <select id="CountryID" asp-for="CountryId"
                                    class="form-control"
                                    asp-items="@(new SelectList(@ViewBag.ListofCountry,"Value","Text"))"></select>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                            <label asp-for="ProvinceId" class="required"></label>
                            <select id="ProvinceID" asp-for="ProvinceId"
                                    class="form-control"
                                    asp-items="@(new SelectList(@ViewBag.ListofProvince,"Value","Text"))"></select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                            <label asp-for="CityId" class="required"></label>
                            <select id="CityID" asp-for="CityId"
                                    class="form-control"
                                    asp-items="@(new SelectList(@ViewBag.ListofCity,"Value","Text"))"></select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="required">What is your willingness to work today? / Qual é sua disponibilidade para trabalhar hoje?</label>
                    @foreach (var item in Model.ScheduleAvaiableAnswers)
                    {
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"
                                       name="ScheduleAvaiableAnswersChecked" value="@item.Value" id="@item.Value"
                                       @{if (Model.ScheduleAvaiableAnswersCheckedString.Contains(item.Value.ToString())) { <text> checked='checked' </text>         } } />

                                @item.Text
                            </label>
                        </div>
    }
                </div>
                <div class="form-group">
                    <label class="required">What's the best time to work for you? / Pra você qual é o melhor horário para trabalhar?</label>
                    @foreach (var item in Model.BestScheduleAnswers)
                    {
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"
                                       name="BestScheduleAnswersChecked" value="@item.Value" id="@item.Value"
                                       @{if (Model.BestScheduleAnswersCheckedString.Contains(item.Value.ToString())) { <text> checked='checked' </text>        } } /> @item.Text
                                </label>
                            </div>
    }
                </div>

                <div class="form-group">
                    <label asp-for="Portfolio" class="control-label"></label>
                    <br />
                    <div>
                        <input asp-for="Portfolio" class="form-control" />
                        <span asp-validation-for="Portfolio" class="text-danger" />
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Price" class="required"></label>
                    <br />
                    <div>
                        <input asp-for="Price" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger" />
                    </div>
                </div>              
                <br />
                @if (!String.IsNullOrEmpty(ViewBag.ErrorMessage))
                {
                    <div style="width:100%">
                        <textarea elastic style="font-weight:bold; resize:none; max-width:100%; text-wrap: avoid; width:100%;" readonly="readonly">@ViewBag.ErrorMessage </textarea>
                    </div>
                }
                <br />
                <br />
                <div align="right">

                    <button type="submit" class="btn btn-primary">
                        <i class="glyphicon glyphicon-forward"></i>
                    </button>

                    <a asp-action="Index" class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </a>
                </div>
                <br />
            </form>

        </div>
    </div>
</div>
